    <header class="container bg-slate-600/50 backdrop-blur-2xl shadow-0 mx-auto items-center fixed top-0 z-50 ">
    <div class="flex flex-row text-white text-lg py-5 pl-10">
        <ul class="flex flex-row w-4/5">
            <li><a class="mr-4" href="">Home</a></li>
            <li><a class="mr-4" href="">About <meta http-equiv="refresh" content="5"></a></li>
            <li><a class="mr-4" href="">Contact me</a></li>
            <li><a class="mr-4" href="">Skills</a></li>
            <li><a class="mr-4" href="">Blog</a></li>
        </ul>
        <div class="w-1/5 flex justify-end mr-10" >
        <button class="w3-button  w3-white rounded-lg" type="button">Donate</button>
        </div>
    </div>
</header>