<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Priyanshu Chandra || Personal Website </title>
    <link rel="stylesheet" href="./style.css" />
    <link rel="stylesheet" href="/public/styles/main.css">
    <!-- Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- w3.css  -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- Fontawesome -->
    <script src="https://kit.fontawesome.com/879ed49c00.js" crossorigin="anonymous"></script>
</head>
<body>
    
