<div class="flex flex-col mx-20 mt-10 pb-10 ">
    <div class="flex flex-col items-center mb-10 text-white">
        <h1 class="text-6xl font-bold mb-4">About My Skills </h1>
        <p class="mx-32">Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis, quisquam, numquam minus aspernatur cumque
            distinctio harum provident maxime nihil fuga quasi tempore ratione autem magni laudantium possimus et sint
            accusamus.</p>
    </div>
    <div class="grid grid-cols-6 gap-8">
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img src="/public/media-source/png/html.png" alt="">
            <p class="">Html</p>
        </div>
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img src="/public/media-source/png/css.png" alt="">
            <p>Css</p>
        </div>
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img src="/public/media-source/png/js.png" alt="">
            <p>Js</p>
        </div>
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img src="/public/media-source/png/nodejs.png" alt="">
            <p>Nodejs</p>
        </div>
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img src="/public/media-source/png/reactjs.png" alt="">
            <p>ReactJs</p>
        </div>
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img src="/public/media-source/png/mongodb.png" alt="">
            <p>MongoDB</p>
        </div>
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img src="/public/media-source/png/sql.png" alt="">
            <p>SQL</p>
        </div>
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img class="h-20 w-42" src="/public/media-source/png/tailwind.svg" alt="">
            <p>Tailwind</p>
        </div>
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img src="/public/media-source/png/csharp.png" alt="">
            <p>CSharp</p>
        </div>
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img src="/public/media-source/png/xamarin.png" alt="">
            <p>Xamarin</p>
        </div>
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img src="/public/media-source/png/aws.png" alt="">
            <p>aws</p>
        </div>
        <div class="w3-card flex flex-col justify-center items-center h-60 w-48 rounded-lg bg-white/30">
            <img src="/public/media-source/png/python.png" alt="">
            <p>Python</p>
        </div>
    </div>
</div>